manifest {
    name            = 'bam-filter'
    author          = 'your-name'
    description     = 'Filter a BAM file by regions in a BED file'
    mainScript      = 'main.nf'
    nextflowVersion = '>=22.10.0'
    version         = '0.1.0'
}

params {
    bam    = null
    bed    = null
    outdir = 'results'
}

profiles {
    standard {
        process.executor = 'local'
    }
    docker {
        docker.enabled = true
    }
    singularity {
        singularity.enabled    = true
        singularity.autoMounts = true
    }
    conda {
        conda.enabled          = true
        process.conda          = 'bioconda::samtools=1.19'
    }
}

process {
    cpus   = 32
    memory = '24GB'
}
